.navBar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 320px;
  height: 800px;
  max-width: 380px;
  min-height: 600px;
  padding: 0 10px;
  border-radius: 0 20px 20px 0;
  background: rgba(255, 255, 255, 0.7);
  transition: all 400ms;

  > a {

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      margin: 0 20px;
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
      border-bottom: 3px solid rgb(216, 222, 228);
    }
  }

  .docMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    a {
      width: 100%;
      text-align: left;
      padding: 10px 10px 10px 20%;
      margin: 8px 0;
      font-size: 18px;
      color: rgba(17, 17, 17, 0.75);

      &.checkedBar {
        font-weight: 600;
        border-right: 5px solid #31c2e0;
      }
    }
  }

  &.show {
    transform: translate(0, -50%);
  }

  &.hidden {
    transform: translate(-300px, -50%);
  }

  .isShow {
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 40px;
    border-color: transparent;
    background: rgb(255, 218, 68);
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
