.doc_md{
  width: 900px;
  height: calc(100% - 30px);
  padding: 30px 60px;
  overflow-y: scroll;
  border-radius: 8px;
  background: rgba(255,255,255,0.7);
  margin-right: 12%;
}
@media (min-width: 1600px) {
  .doc_md{
    margin-right: 16%;
  }
}
